.header-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4vh 0;
  background: white;
  box-shadow: 0 1.5px 5px rgba(0, 0, 0, 0.1);
}

.header-logo {
  width: 200px;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header-container {
    display: block;
    padding: 4vh;
  }

  .header-logo {
    width: max-content;
    margin: 0 10%;
  }
}
