.post-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  border: 2px solid #ccc;
  opacity: 0.7;
  transition: 300ms ease opacity;
  cursor: pointer;
}
.post-container:hover {
  opacity: 1;
}

.post-link {
  width: 100%;
  color: var(--brownish-grey);
  padding: 0.75rem 1.5rem;
}

.post-timeago {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  opacity: 0.8;
  text-align: center;
}
.post-timeago span {
  color: #767676;
}

.post-button {
  position: absolute;
  right: 0.5rem;
  bottom: 0.25rem;
  padding: 0;
  height: inherit;
  align-self: stretch;
  border: none;
  transition: 240ms ease background-color;
}
.post-button:hover {
  background-color: rgb(240, 240, 240);
}

.post-button img {
  pointer-events: none;
  transition: 200ms ease transform;
}
.post-button:hover img {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .post-descrition {
    padding: 0.75rem 2rem;
  }

  .post-timeago {
    justify-content: start;
  }

  .post-button {
    position: static;
    padding: 2rem;
  }
}
